@import "~bootstrap/scss/bootstrap";

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../public/img/2094221-astratto-sfocato-ristorante-sfondo-gratuito-foto.jpg");
}

.button {
    text-decoration: none;
    background-color: #30a981;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
}
.button:hover {
    font-size: large;
    padding: 12px;
}

.card-rest {
    background-color: rgba(255, 255, 255, 0.401);
}

.main-cont {
    background-color: #30a981;
}
.container-sm {
    padding: 30px;
}

.content {
    margin-bottom: 200px;
}

.app-store {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: small;
}

img {
    max-width: 500px;
    height: 500px;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5,
.image-6 {
    width: 300px;
    height: 300px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f44336;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

input:focus + .slider {
    box-shadow: 0 0 1px #090909;
}

input:checked + .slider {
    background-color: #ccc;
}

input:checked + .slider:before {
    content: "";
    left: 42px;
    background-color: green;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    transform: scale(0.7);
}

.slider.round:before {
    border-radius: 50%;
}

.container-tb {
    .dishes-title {
        margin: 20px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        color: white;
    }

    .icon:hover {
        font-weight: bold;
    }
}

// -------

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin-bottom: 100px;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;

    .navbar {
        box-shadow: 0px -5px 15px 0px rgba(11, 24, 12, 0.849);
    }

    footer {
        max-height: 150px;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        background-color: rgba(11, 24, 12, 0.849);
        box-shadow: 0px -5px 15px 0px rgba(11, 24, 12, 0.849);

        ul {
            padding: 5px;

            li {
                list-style: none;

                :hover {
                    color: rgb(255, 0, 0);
                    font-size: large;
                }
            }

            a {
                text-decoration: none;
                color: white;
                margin-left: 0;
            }
        }
    }

    .deliv-map {
        max-width: 100%;
    }

    .block {
        background-color: white;
    }

    .logo {
        width: 150px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

h2 {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    // border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: rgba(29, 81, 31, 0.436);
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(150, 62, 62);
}

.fl-table tr:nth-child(even) {
    background: #f8f8f8;
}

/* Responsive table */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before {
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child {
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td,
    .fl-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.descr {
    background-color: rgba(11, 24, 12, 0.849);
    color: #ccc;
    text-align: center;
}

.descr-edit {
    background-color: #30a981;
    color: #ccc;
    padding: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../public/img/fattorino-di-cibo-con-scatole-con-cibo.jpg");
}

// --------
//* stile bottone
.btn {
    --btn-color: rgb(255, 0, 0);
    position: relative;
    padding: 16px 32px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: white;
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--btn-color);
    border-radius: 24px;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span,
.btn span span {
    display: inline-flex;
    vertical-align: middle;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn span {
    transition-delay: 0.05s;
}

.btn span:first-child {
    padding-right: 7px;
}

.btn span span {
    margin-left: 8px;
    transition-delay: 0.1s;
}

.btn ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateY(-50%);
}

.btn ul li {
    flex: 1;
}

.btn ul li a {
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(55px);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn ul li a:hover {
    opacity: 0.5;
}

.btn:hover::before {
    transform: scale(1.2);
}

.btn:hover span,
.btn:hover span span {
    transform: translateY(-55px);
}

.btn:hover ul li a {
    transform: translateY(0);
}

.btn:hover ul li:nth-child(1) a {
    transition-delay: 0.15s;
}

.btn:hover ul li:nth-child(2) a {
    transition-delay: 0.2s;
}

.btn:hover ul li:nth-child(3) a {
    transition-delay: 0.25s;
}
// ..............

/* Stile generale per la card del piatto */
.plate-card {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 100%;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0px -5px 15px 0px rgba(11, 24, 12, 0.849);
    overflow: hidden;
    margin-bottom: 20px;
    background-image: url("../../public/img/2094221-astratto-sfocato-ristorante-sfondo-gratuito-foto.jpg");
}

/* Stile per l'immagine del piatto */
.plate-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.plate-image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Stile per i dettagli del piatto */
.plate-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Stile per il titolo del piatto */
.caption {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Stile per la descrizione del piatto */
.description {
    font-size: 16px;
    color: #343434;
    margin-top: 10px;
}

/* Stile per il badge del prezzo */
.badge-dish {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

/* Stile per la data di aggiornamento */
.updated-at {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

/* Stile per il prezzo nel badge */
.price {
    font-size: 18px;
    font-weight: bold;
}

/* Stile per i bottoni di navigazione */
.btn {
    margin-top: 10px;
}
